@media all and (max-width: 320px ){
    #assignmentSection {
        width: 100vw;
     /*   height: 2000px;*/
        height: 600px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
    }

    #worksHeaderAssignment {
        font-size: 70px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader {
        font-size: 22px;
        position: absolute;
        color: white;
        width: fit-content;
        left: 0;
        top: 83px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }
    #nextAssignmentBtnRight {
        position: absolute;

        top: 50%;
        right: 25px;
        margin: auto;
        background: none;
        border: solid #35A29F;
        border-width: thin;
        width: 30px;
        aspect-ratio: 1/1;
        border-radius: 30px;
        z-index: 1111;
    }

    #nextAssignmentBtnRight>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 0deg;
        width: 20px;
    }
    #nextAssignmentBtnLeft {
        position: absolute;

        top: 50%;
        left: 25px;
        margin: auto;
        background: none;
        border: solid #35A29F;
        border-width: thin;
        width: 30px;
        aspect-ratio: 1/1;
        border-radius: 30px;
        z-index: 1111;
    }

    #nextAssignmentBtnLeft>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 180deg;
        width: 20px;


    }
    #fixedFrameAssignment{
        width: 100%;
        position: absolute;
        top: 200px;
        margin: auto;
        height: 400px;
       overflow-x: hidden;

    }
    #mainFrameAssignment{
        width: 1200%;
        position: absolute;
        top: 0;
        margin: auto;
        height: 400px;
        transition: transform 0.5s ease-in-out;

    }

    .assignment-table{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0;
        /*    width: calc(100% - 200px);*/
        width: calc(600vw );
        height: calc(100% - 700px);
        left: 0;
        margin: auto;

        /*transform: translate(-50%, -50%);*/


    }
    #moreAssignments{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0;
        width: calc(600vw );
        height: calc(100% - 700px);
        right: 0;
        margin: auto;
        /*transform: translate(-50%, -50%);*/


    }

    .assignmentDiv {

        width: 130px;
        height: 200px;
        border-radius: 10px;
        border: solid #35A29F;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
    }

    .assignmentDiv> h4 {
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
        color: white;
        font-family: Heebo;
    }

    .assignmentDiv> img {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 10px;
        font-size: 20px;
        width: 100px;



    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 20px;

    }
    .assignmentDiv>button>img{
        width: 30px;
        margin: 5px;
    }
}
@media all and (min-width: 321px ) and (max-width: 460px){
    #assignmentSection{
        width: 100%;
     /*   height: 2000px;*/
        height: 600px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
    }
    #worksHeaderAssignment {
        font-size: 80px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader{
        font-size: 20px;
        position: absolute;
        color: white;
        width: fit-content;
        left: 0;
        top: 97px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    #nextAssignmentBtnRight {
        position: absolute;

        top: 50%;
        right: 25px;
        margin: auto;
        background: none;
        border: solid #35A29F;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
        z-index: 1111;
    }

    #nextAssignmentBtnRight>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 0deg;
        width: 30px;
    }
    #nextAssignmentBtnLeft {
        position: absolute;

        top: 50%;
        left: 25px;
        margin: auto;
        background: none;
        border: solid #35A29F;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
        z-index: 1111;
    }

    #nextAssignmentBtnLeft>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 180deg;
        width: 30px;

    }
    #fixedFrameAssignment{
        width: 100%;
        position: absolute;
        top: 220px;
        margin: auto;
        height: 400px;
        overflow-x: hidden;

    }
    #mainFrameAssignment{
        width: 1200%;
        position: absolute;
        top: 0;
        margin: auto;
        height: 400px;
        transition: transform 0.5s ease-in-out;

    }

    .assignment-table{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0;
        /*    width: calc(100% - 200px);*/
        width: calc(600vw );
        height: calc(100% - 700px);
        left: 0;
        margin: auto;

        /*transform: translate(-50%, -50%);*/


    }
    #moreAssignments{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0;
        width: calc(600vw );
        height: calc(100% - 700px);
        right: 0;
        margin: auto;
        /*transform: translate(-50%, -50%);*/


    }
    .assignmentDiv {

        width: 150px;
        height: 200px;
        border:  solid #35A29F;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
        border-radius: 10px;

    }
    .assignmentDiv>h4{
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 15px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 120px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 20px;

    }
    .assignmentDiv>button>img{
        width: 35px;
        margin: 5px;
    }
}
@media all and (min-width: 461px ) and (max-width: 768px){
    #assignmentSection {
        width: 100%;
       /* height: 1150px;*/
        height: 900px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
    }

    #worksHeaderAssignment {
        font-size: 80px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader {
        font-size: 25px;
        position: absolute;
        color: black;
        width: fit-content;
        left: 0;
        top: 90px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
        color: white;
    }
    #nextAssignmentBtnRight {
        position: absolute;

        top: 50%;
        right: 50px;
        margin: auto;
        background: none;
        border: solid #35A29F;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
        z-index: 1111;
    }

    #nextAssignmentBtnRight>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 0deg;
        width: 30px;
    }
    #nextAssignmentBtnLeft {
        position: absolute;

        top: 50%;
        left: 50px;
        margin: auto;
        background: none;
        border: solid #35A29F;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
        z-index: 1111;
    }

    #nextAssignmentBtnLeft>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 180deg;
        width: 30px;

    }
    #fixedFrameAssignment{
        width: 100%;
        position: absolute;
        top: 250px;
        margin: auto;
        height: 1200px;
       /* overflow-x: hidden;*/

    }
    #mainFrameAssignment{
        width: 600%;
        position: absolute;
        top: 0;
        margin: auto;
        height: 1200px;
        transition: transform 0.5s ease-in-out;

    }

    .assignment-table{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        /*    width: calc(100% - 200px);*/
        width: calc(300vw );
        height: calc(100% - 700px);
        left: 0;
        margin: auto;

        /*transform: translate(-50%, -50%);*/


    }
    #moreAssignments{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        width: calc(300vw );
        height: calc(100% - 700px);
        right: 0;
        margin: auto;
        /*transform: translate(-50%, -50%);*/


    }

    .assignmentDiv {

        width: 150px;
        height: 200px;
        border-radius: 10px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
        border:  solid #35A29F;
    }
    .assignmentDiv>h4{
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 16px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 120px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 16px;

    }
    .assignmentDiv>button>img{
        width: 35px;
        margin: 5px;
    }
}
@media all and (min-width: 769px ) and (max-width: 834px){
    #assignmentSection {
        width: 100%;
        height: 1200px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
    }

    #worksHeaderAssignment {
        font-size: 80px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader {
        font-size: 25px;
        position: absolute;
        color: white;
        width: fit-content;
        left: 0;
        top: 90px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }
    #nextAssignmentBtnRight {
        position: absolute;

        top: 50%;
        right: 50px;
        margin: auto;
        background: none;
        border: solid #35A29F;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
        z-index: 1111;
    }

    #nextAssignmentBtnRight>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 0deg;
        width: 30px;
    }
    #nextAssignmentBtnLeft {
        position: absolute;

        top: 50%;
        left: 50px;
        margin: auto;
        background: none;
        border: solid #35A29F;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
        z-index: 1111;
    }

    #nextAssignmentBtnLeft>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 180deg;
        width: 30px;

    }
    #fixedFrameAssignment{
        width: 100%;
        position: absolute;
        top: 250px;
        margin: auto;
        height: 1200px;
        overflow-x: hidden;

    }
    #mainFrameAssignment{
        width: 200%;
        position: absolute;
        top: 0;
        margin: auto;
        height: 1200px;
        transition: transform 0.5s ease-in-out;

    }
    .assignment-table{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        width: calc(100vw - 200px);
        height: calc(100% - 700px);
        left: 90px;


        /*transform: translate(-50%, -50%);*/


    }
    #moreAssignments{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        width: calc(100vw - 200px);
        height: calc(100% - 700px);
        right: 90px;
        margin: auto;
        /*transform: translate(-50%, -50%);*/


    }
    .assignmentDiv {

        width: 150px;
        height: 210px;
        border-radius: 10px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
        border:  solid #35A29F;
    }
    .assignmentDiv>h4{
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 16px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 120px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 20px;

    }
    .assignmentDiv>button>img{
        width: 35px;
        margin: 5px;
    }
   /* .assignmentDiv>h4{
        width: fit-content;
        !*position: absolute;*!
        left: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 150px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 20px;

    }
    .assignmentDiv>button>img{
        width: 35px;
        margin: 5px;
    }*/
}
@media all and (min-width: 835px ) and (max-width: 1024px){
    #assignmentSection{
        width: 100%;
        height: 1400px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
    }
    #worksHeaderAssignment {
        font-size: 120px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader{
        font-size: 40px;
        position: absolute;
        color: white;
        width: fit-content;
        left: 0;
        top: 105px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }
    #nextAssignmentBtnRight {
        position: absolute;

        top: 50%;
        right: 50px;
        margin: auto;
        background: none;
        border: solid #35A29F;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
        z-index: 11111;
    }

    #nextAssignmentBtnRight>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 0deg;
        width: 30px;
    }
    #nextAssignmentBtnLeft {
        position: absolute;

        top: 50%;
        left: 50px;
        margin: auto;
        background: none;
        border: solid #35A29F;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
        z-index: 11111;
    }

    #nextAssignmentBtnLeft>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 180deg;
        width: 30px;

    }
    #fixedFrameAssignment{
        width: 100%;
        position: absolute;
        top: 250px;
        margin: auto;
        height: 1200px;
        overflow-x: hidden;

    }
    #mainFrameAssignment{
        width: 200%;
        position: absolute;
        top: 0;
        margin: auto;
        height: 1200px;
        transition: transform 0.5s ease-in-out;

    }
    .assignment-table {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        width: calc(100vw - 200px);
        height: calc(100% - 300px);
        left:90px;
        margin: auto;

        /*  transform: translate(-50%, -50%);*/


    }
    #moreAssignments {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        width: calc(100vw - 200px);
        height: calc(100% - 300px);
        right: 90px;
        margin: auto;

        /*  transform: translate(-50%, -50%);*/


    }

    .assignmentDiv {

        width: 175px;
        height: 230px;
        border:  solid #35A29F;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
        border-radius: 10px;

    }
    .assignmentDiv>h4{
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 150px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 20px;

    }
    .assignmentDiv>button>img{
        width: 35px;
        margin: 5px;
    }
}
@media all and (min-width: 1025px ) and (max-width: 1440px){
    #assignmentSection{
        width: 100%;
        height: 1000px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
    }
    #worksHeaderAssignment {
        font-size: 120px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader{
        font-size: 40px;
        position: absolute;
        color: white;
        width: fit-content;
        left: 0;
        top: 105px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }
   /* #nextAssignmentBtn{
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        margin: auto;
        background: none;
        border: solid white;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
    }
    #nextAssignmentBtn>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 90deg;
        width: 30px;
    }*/
    #nextAssignmentBtnRight {
        position: absolute;

        top: 50%;
        right: 50px;
        margin: auto;
        background: none;
        border: solid #35A29F;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
        z-index: 11111;
    }

    #nextAssignmentBtnRight>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 0deg;
        width: 30px;
    }
    #nextAssignmentBtnLeft {
        position: absolute;

        top: 50%;
        left: 50px;
        margin: auto;
        background: none;
        border: solid #35A29F;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
        z-index: 11111;
    }

    #nextAssignmentBtnLeft>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 180deg;
        width: 30px;

    }
    #fixedFrameAssignment{
        width: 100%;
        position: absolute;
        top: 250px;
        margin: auto;
        height: 1000px;
        overflow-x: hidden;

    }
    #mainFrameAssignment{
        width: 200%;
        position: absolute;
        top: 0;
        margin: auto;
        height: 1000px;
        transition: transform 0.5s ease-in-out;

    }
    .assignment-table {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        width: calc(100vw - 200px);
        height: calc(50% - 300px);
        left:90px;
        margin: auto;
        /*  transform: translate(-50%, -50%);*/


    }
    #moreAssignments {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        width: calc(100vw - 200px);
        height: calc(50% - 300px);
        right: 90px;
        margin: auto;
        /*  transform: translate(-50%, -50%);*/


    }
    .assignmentDiv {

        width: 175px;
        height: 230px;
        border:  solid #35A29F;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
        border-radius: 10px;

    }
    .assignmentDiv>h4{
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 150px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 20px;

    }
    .assignmentDiv>button>img{
        width: 35px;
        margin: 5px;
    }
}
@media all and  (min-width:1440px){
    #assignmentSection{
        width: 100%;
        height: 1000px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
    }
    #worksHeaderAssignment {
        font-size: 120px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader{
        font-size: 40px;
        position: absolute;
        color: white;
        width: fit-content;

        left: 0;
        top: 105px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: lighter;
    }
   /* #nextAssignmentBtn{
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        margin: auto;
        background: none;
        border: solid #35A29F;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
    }*/
 #nextAssignmentBtnRight {
        position: absolute;

        top: 50%;
        right: 50px;
        margin: auto;
        background:none;
        border: solid #35A29F;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
         z-index: 1111111;
    }

    #nextAssignmentBtnRight>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 0deg;
        width: 30px;
    }
  #nextAssignmentBtnLeft {
        position: absolute;

        top: 50%;
        left: 50px;
        margin: auto;
        background:none;
        border: solid #35A29F;
        border-width: thin;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50px;
      z-index: 1111111;
    }
    #nextAssignmentBtnLeft>img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        rotate: 180deg;
        width: 30px;
    }
    #fixedFrameAssignment{
        width: 100%;
        position: absolute;
        top: 200px;
        margin: auto;
        height: 1000px;

    }
    #mainFrameAssignment{
        width: 200%;
        position: absolute;
        top: 0;
        margin: auto;
        height: 1000px;
       transition: transform 0.5s ease-in-out;

    }
    .assignment-table {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 3px;
        width: calc(50% - 200px);
        height: calc(100% - 300px);
        left:90px;
        margin: auto;




    }
  #moreAssignments {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 3px;
  width: calc(50% - 200px);

        height: calc(100% - 300px);
        right: 90px;
        margin: auto;




    }
    .assignmentDiv {

        width: 200px;
        height: 250px;
        border:  solid #35A29F;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
        border-radius: 10px;

    }
    .assignmentDiv>h4{
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 150px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: fit-content;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;

    }
    .assignmentDiv>button>img{
        width: 40px;
        margin: 10px;
    }


}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Adjust the width of the modal */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.assignmentDiv{
    border-width: thin;
    box-shadow: 0 4px 8px 0 rgba(53, 162, 169, 0.9);
}
