@media all and (max-width: 320px ){
    #assignmentSection {
        width: 100vw;
        height: 2000px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
    }

    #worksHeaderAssignment {
        font-size: 70px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader {
        font-size: 22px;
        position: absolute;
        color: white;
        width: fit-content;
        left: 0;
        top: 83px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    .assignment-table {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 30px;
        width: 100vw;
        height: calc(100% - 700px);
        left:0;
        right: 0;
        margin: auto;
        top: 200px;
        /* transform: translate(-50%, -50%);*/


    }

    .assignmentDiv {

        width: 150px;
        height: 200px;
        border-radius: 10px;
        border: solid #35A29F;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
    }

    #assignmentSection > div > div > h4 {
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
        color: white;
        font-family: Heebo;
    }

    #assignmentSection > div > div > img {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 10px;
        font-size: 20px;
        width: 100px;



    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 20px;

    }
    .assignmentDiv>button>img{
        width: 30px;
        margin: 5px;
    }
}
@media all and (min-width: 321px ) and (max-width: 460px){
    #assignmentSection{
        width: 100%;
        height: 2000px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
    }
    #worksHeaderAssignment {
        font-size: 80px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader{
        font-size: 20px;
        position: absolute;
        color: white;
        width: fit-content;
        left: 0;
        top: 97px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    .assignment-table {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap :10px;
        width: calc(100vw - 200px);
        height: calc(100% - 300px);
        left:0;
        right: 0;
        margin: auto;
        top: 200px;
        /*  transform: translate(-50%, -50%);*/


    }

    .assignmentDiv {

        width: 150px;
        height: 200px;
        border:  solid #35A29F;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
        border-radius: 10px;

    }
    .assignmentDiv>h4{
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 15px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 120px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 20px;

    }
    .assignmentDiv>button>img{
        width: 35px;
        margin: 5px;
    }
}
@media all and (min-width: 461px ) and (max-width: 768px){
    #assignmentSection {
        width: 100%;
        height: 1150px;
        position: relative;
    }

    #worksHeaderAssignment {
        font-size: 80px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader {
        font-size: 25px;
        position: absolute;
        color: black;
        width: fit-content;
        left: 0;
        top: 90px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    .assignment-table{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        /*    width: calc(100% - 200px);*/
        width: 80%;
        height: calc(100% - 700px);
        left: 0;
        right: 0;
        margin: auto;
        top: 200px;
        /*transform: translate(-50%, -50%);*/


    }

    .assignmentDiv {

        width: 150px;
        height: 250px;
        border-radius: 10px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
        border:  solid #35A29F;
    }
    .assignmentDiv>h4{
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 150px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 20px;

    }
    .assignmentDiv>button>img{
        width: 35px;
        margin: 5px;
    }
}
@media all and (min-width: 769px ) and (max-width: 834px){
    #assignmentSection {
        width: 100%;
        height: 1150px;
        position: relative;
    }

    #worksHeaderAssignment {
        font-size: 80px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader {
        font-size: 25px;
        position: absolute;
        color: black;
        width: fit-content;
        left: 0;
        top: 90px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    .assignment-table{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        /*    width: calc(100% - 200px);*/
        width: 80%;
        height: calc(100% - 700px);
        left: 0;
        right: 0;
        margin: auto;
        top: 200px;
        /*transform: translate(-50%, -50%);*/


    }

    .assignmentDiv {

        width: 150px;
        height: 250px;
        border-radius: 10px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
        border:  solid #35A29F;
    }
    .assignmentDiv>h4{
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 150px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 20px;

    }
    .assignmentDiv>button>img{
        width: 35px;
        margin: 5px;
    }
   /* .assignmentDiv>h4{
        width: fit-content;
        !*position: absolute;*!
        left: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 150px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 20px;

    }
    .assignmentDiv>button>img{
        width: 35px;
        margin: 5px;
    }*/
}
@media all and (min-width: 835px ) and (max-width: 1024px){
    #assignmentSection{
        width: 100%;
        height: 1000px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
    }
    #worksHeaderAssignment {
        font-size: 120px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader{
        font-size: 40px;
        position: absolute;
        color: white;
        width: fit-content;
        left: 0;
        top: 105px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    .assignment-table {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        width: calc(100vw - 200px);
        height: calc(100% - 300px);
        left:0;
        right: 0;
        margin: auto;
        top: 200px;
        /*  transform: translate(-50%, -50%);*/


    }

    .assignmentDiv {

        width: 175px;
        height: 230px;
        border:  solid #35A29F;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
        border-radius: 10px;

    }
    .assignmentDiv>h4{
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 150px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 20px;

    }
    .assignmentDiv>button>img{
        width: 35px;
        margin: 5px;
    }
}
@media all and (min-width: 1025px ) and (max-width: 1440px){
    #assignmentSection{
        width: 100%;
        height: 1000px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
    }
    #worksHeaderAssignment {
        font-size: 120px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader{
        font-size: 40px;
        position: absolute;
        color: white;
        width: fit-content;
        left: 0;
        top: 105px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    .assignment-table {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        width: calc(100vw - 200px);
        height: calc(100% - 300px);
        left:0;
        right: 0;
        margin: auto;
        top: 200px;
        /*  transform: translate(-50%, -50%);*/


    }

    .assignmentDiv {

        width: 175px;
        height: 230px;
        border:  solid #35A29F;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
        border-radius: 10px;

    }
    .assignmentDiv>h4{
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 150px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: 20px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;
        font-size: 20px;

    }
    .assignmentDiv>button>img{
        width: 35px;
        margin: 5px;
    }
}
@media all and  (min-width:1440px){
    #assignmentSection{
        width: 100%;
        height: 1000px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
    }
    #worksHeaderAssignment {
        font-size: 120px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #assignmentHeader{
        font-size: 40px;
        position: absolute;
        color: white;
        width: fit-content;
        left: 0;
        top: 105px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    .assignment-table {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 3px;
        width: calc(100% - 200px);
        height: calc(100% - 300px);
        left:0;
        right: 0;
        margin: auto;
        top: 200px;
      /*  transform: translate(-50%, -50%);*/


    }

    .assignmentDiv {

        width: 200px;
        height: 250px;
        border:  solid #35A29F;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        text-align: center;
        border-radius: 10px;

    }
    .assignmentDiv>h4{
        width: fit-content;
        /*position: absolute;*/
        left: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
        color: #35A29F;
        font-family: Heebo;
    }
    .assignmentDiv>img{

        width: 150px;
        margin: 5px;
    }
    .assignmentDiv>button{
        width: fit-content;
        height: fit-content;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;

        background-color:rgba(0, 0, 0, 0) ;
        border: rgba(0, 0, 0, 0.9);


    }
    .assignmentDiv>button>a{
        color:#35A29F;
        text-decoration: none;
        font-family: Heebo;

    }
    .assignmentDiv>button>img{
        width: 40px;
        margin: 10px;
    }

}