@media all and (max-width: 320px ){
    #gallerySection{
        position: relative;
        width: 100%;
        height: 600px;
    }
    #seeGalleryHeader {
        font-size: 33px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #galleryHeader {
        font-size: 16px;
        position: absolute;
        color: black;
        width: fit-content;
        left: 0;
        top: 62px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    #galleryHome {
        position: absolute;
        margin: auto;
        top: 140px;
        width: 92%;
        height: 350px;
        overflow: hidden;
        left: 0;
        right: 0;
        background-color: black;
        border-radius: 10px;


    }

    #galleryTailor {
        position: absolute;
        width: 1100px;
        height: 250px;
        top: 0;
        bottom: 0;
        margin: auto;
        animation: animi 8s linear infinite;
        transition-delay: -10s;
        /*  animation: animi 12s ease-in-out infinite;*/

    }
    #galleryTailor>img{
        width: 200px;
        height: 250px;
        margin: 0;
        padding: 0;
        border: none;
        filter: grayscale(100%);

    }
    #galleryTailor02 {
        position: absolute;
        width: 2000px;
        height: 250px;
        top: 0;
        bottom: 0;
        left: 1020px;
        margin: auto;
        animation: animi 8s linear infinite;
        transition-delay: -10s;
        /* animation: animi 12s ease-in-out infinite;*/


    }
    #galleryTailor02>img{
        width: 200px;
        height: 250px;
        margin: 0;
        padding: 0;
        border-width: 0;
        filter: grayscale(100%);
    }
    /*@keyframes animi {
        from {
            transform: translateX(-0%) ;
        }
        to {
            transform: translateX(-100%);
        }*/

    @keyframes animi {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-1020px);
        }
    }
}
@media all and (min-width: 321px ) and (max-width: 460px){
    #gallerySection{
        position: relative;
        width: 100%;
        height: 700px;
    }
    #seeGalleryHeader {
        font-size: 45px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #galleryHeader {
        font-size: 20px;
        position: absolute;
        color: black;
        width: fit-content;
        left: 0;
        top: 70px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    #galleryHome {
        position: absolute;
        margin: auto;
        top: 170px;
        width: 92%;
        height: 400px;
        overflow: hidden;
        left: 0;
        right: 0;
        background-color: black;
        border-radius: 10px;


    }

    #galleryTailor {
        position: absolute;
        width: 1200px;
        height: 300px;
        top: 0;
        bottom: 0;
        margin: auto;
        animation: animi 8s linear infinite;
        transition-delay: -10s;
        /*  animation: animi 12s ease-in-out infinite;*/

    }
    #galleryTailor>img{
        width: 230px;
        height: 300px;
        margin: 0;
        padding: 0;
        border: none;
        filter: grayscale(100%);

    }
    #galleryTailor02 {
        position: absolute;
        width: 2400px;
        height: 300px;
        top: 0;
        bottom: 0;
        left: 1170px;
        margin: auto;
        animation: animi 8s linear infinite;
        transition-delay: -10s;
        /* animation: animi 12s ease-in-out infinite;*/


    }
    #galleryTailor02>img{
        width: 230px;
        height: 300px;
        margin: 0;
        padding: 0;
        border-width: 0;
        filter: grayscale(100%);
    }
    /*@keyframes animi {
        from {
            transform: translateX(-0%) ;
        }
        to {
            transform: translateX(-100%);
        }*/

    @keyframes animi {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-1170px);
        }
    }
}
@media all and (min-width: 461px ) and (max-width: 768px){
    #gallerySection{
        position: relative;
        width: 100%;
        height: 900px;
    }
    #seeGalleryHeader {
        font-size: 90px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #galleryHeader {
        font-size: 35px;
        position: absolute;
        color: black;
        width: fit-content;
        left: 0;
        top: 90px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    #galleryHome {
        position: absolute;
        margin: auto;
        top: 250px;
        width: 92%;
        height: 500px;
        overflow: hidden;
        left: 0;
        right: 0;
        background-color: black;
        border-radius: 10px;


    }

    #galleryTailor {
        position: absolute;
        width: 1800px;
        height: 350px;
        top: 0;
        bottom: 0;
        margin: auto;
        animation: animi 8s linear infinite;
        transition-delay: -10s;
        /*  animation: animi 12s ease-in-out infinite;*/

    }
    #galleryTailor>img{
        width: 250px;
        height: 350px;
        margin: 0;
        padding: 0;
        border: none;
        filter: grayscale(100%);

    }
    #galleryTailor02 {
        position: absolute;
        width: 2500px;
        height: 350px;
        top: 0;
        bottom: 0;
        left: 1270px;
        margin: auto;
        animation: animi 8s linear infinite;
        transition-delay: -10s;
        /* animation: animi 12s ease-in-out infinite;*/


    }
    #galleryTailor02>img{
        width: 250px;
        height: 350px;
        margin: 0;
        padding: 0;
        border-width: 0;
        filter: grayscale(100%);
    }
    /*@keyframes animi {
        from {
            transform: translateX(-0%) ;
        }
        to {
            transform: translateX(-100%);
        }*/

    @keyframes animi {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-1270px);
        }
    }
}
@media all and (min-width: 769px ) and (max-width: 834px){
    #gallerySection{
        position: relative;
        width: 100%;
        height: 900px;
    }
    #seeGalleryHeader {
        font-size: 90px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #galleryHeader {
        font-size: 35px;
        position: absolute;
        color: black;
        width: fit-content;
        left: 0;
        top: 90px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    #galleryHome {
        position: absolute;
        margin: auto;
        top: 250px;
        width: 92%;
        height: 500px;
        overflow: hidden;
        left: 0;
        right: 0;
        background-color: black;
        border-radius: 10px;


    }

    #galleryTailor {
        position: absolute;
        width: 1800px;
        height: 400px;
        top: 0;
        bottom: 0;
        margin: auto;
        animation: animi 8s linear infinite;
        transition-delay: -10s;
        /*  animation: animi 12s ease-in-out infinite;*/

    }
    #galleryTailor>img{
        width: 300px;
        height: 400px;
        margin: 0;
        padding: 0;
        border: none;
        filter: grayscale(100%);

    }
    #galleryTailor02 {
        position: absolute;
        width: 3000px;
        height: 400px;
        top: 0;
        bottom: 0;
        left: 1520px;
        margin: auto;
        animation: animi 8s linear infinite;
        transition-delay: -10s;
        /* animation: animi 12s ease-in-out infinite;*/


    }
    #galleryTailor02>img{
        width: 300px;
        height: 400px;
        margin: 0;
        padding: 0;
        border-width: 0;
        filter: grayscale(100%);
    }
    /*@keyframes animi {
        from {
            transform: translateX(-0%) ;
        }
        to {
            transform: translateX(-100%);
        }*/

    @keyframes animi {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-1520px);
        }
    }
}
@media all and (min-width: 835px ) and (max-width: 1024px){
    #gallerySection{
        position: relative;
        width: 100%;
        height: 900px;
    }
    #seeGalleryHeader {
        font-size: 100px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #galleryHeader {
        font-size: 40px;
        position: absolute;
        color: black;
        width: fit-content;
        left: 0;
        top: 90px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    #galleryHome {
        position: absolute;
        margin: auto;
        top: 250px;
        width: 92%;
        height: 500px;
        overflow: hidden;
        left: 0;
        right: 0;
        background-color: black;
        border-radius: 10px;


    }

    #galleryTailor {
        position: absolute;
        width: 1800px;
        height: 400px;
        top: 0;
        bottom: 0;
        margin: auto;
        animation: animi 8s linear infinite;
        transition-delay: -10s;
        /*  animation: animi 12s ease-in-out infinite;*/

    }
    #galleryTailor>img{
        width: 300px;
        height: 400px;
        margin: 0;
        padding: 0;
        border: none;
        filter: grayscale(100%);

    }
    #galleryTailor02 {
        position: absolute;
        width: 3000px;
        height: 400px;
        top: 0;
        bottom: 0;
        left: 1520px;
        margin: auto;
        animation: animi 8s linear infinite;
        transition-delay: -10s;
        /* animation: animi 12s ease-in-out infinite;*/


    }
    #galleryTailor02>img{
        width: 300px;
        height: 400px;
        margin: 0;
        padding: 0;
        border-width: 0;
        filter: grayscale(100%);
    }
    /*@keyframes animi {
        from {
            transform: translateX(-0%) ;
        }
        to {
            transform: translateX(-100%);
        }*/

    @keyframes animi {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-1520px);
        }
    }
}
@media all and (min-width: 1025px ) and (max-width: 1440px){
    #gallerySection{
        position: relative;
        width: 100%;
        height: 900px;
    }
    #seeGalleryHeader {
        font-size: 120px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #galleryHeader {
        font-size: 50px;
        position: absolute;
        color: black;
        width: fit-content;
        left: 0;
        top: 100px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    #galleryHome {
        position: absolute;
        margin: auto;
        top: 250px;
        width: 92%;
        height: 500px;
        overflow: hidden;
        left: 0;
        right: 0;
        background-color: black;
        border-radius: 10px;


    }

    #galleryTailor {
        position: absolute;
        width: 1800px;
        height: 400px;
        top: 0;
        bottom: 0;
        margin: auto;
        animation: animi 8s linear infinite;
        transition-delay: -10s;
        /*  animation: animi 12s ease-in-out infinite;*/

    }
    #galleryTailor>img{
        width: 300px;
        height: 400px;
        margin: 0;
        padding: 0;
        border: none;
        filter: grayscale(100%);

    }
    #galleryTailor02 {
        position: absolute;
        width: 3000px;
        height: 400px;
        top: 0;
        bottom: 0;
        left: 1520px;
        margin: auto;
        animation: animi 8s linear infinite;
        transition-delay: -10s;
        /* animation: animi 12s ease-in-out infinite;*/


    }
    #galleryTailor02>img{
        width: 300px;
        height: 400px;
        margin: 0;
        padding: 0;
        border-width: 0;
        filter: grayscale(100%);
    }
    /*@keyframes animi {
        from {
            transform: translateX(-0%) ;
        }
        to {
            transform: translateX(-100%);
        }*/

    @keyframes animi {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-1520px);
        }
    }
}
@media all and  (min-width:1440px) {
    #gallerySection{
        position: relative;
        width: 100%;
        height: 900px;
    }
    #seeGalleryHeader {
        font-size: 120px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        top: 50px;
        right: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;
    }

    #galleryHeader {
        font-size: 50px;
        position: absolute;
        color: black;
        width: fit-content;
        left: 0;
        top: 100px;
        right: 0;
        margin: auto;
        font-family: Heebo;
        font-weight: 10;
    }

    #galleryHome {
        position: absolute;
        margin: auto;
        top: 250px;
        width: 92%;
        height: 550px;
        overflow: hidden;
        left: 0;
        right: 0;
        background-color: black;
        border-radius: 10px;


    }

    #galleryTailor {
        position: absolute;
        width: 1800px;
        height: 450px;
        top: 0;
        bottom: 0;
        margin: auto;
       animation: animi 8s linear infinite;
        transition-delay: -10s;
  /*  animation: animi 12s ease-in-out infinite;*/

    }
    #galleryTailor>img{
        width: 350px;
        height: 450px;
        margin: 0;
        padding: 0;
        border: none;
        filter: grayscale(100%);

    }
    #galleryTailor02 {
        position: absolute;
        width: 3500px;
        height: 450px;
        top: 0;
        bottom: 0;
        left: 1770px;
        margin: auto;
       animation: animi 8s linear infinite;
        transition-delay: -10s;
   /* animation: animi 12s ease-in-out infinite;*/


    }
    #galleryTailor02>img{
        width: 350px;
        height: 450px;
        margin: 0;
        padding: 0;
        border-width: 0;
        filter: grayscale(100%);
    }
    /*@keyframes animi {
        from {
            transform: translateX(-0%) ;
        }
        to {
            transform: translateX(-100%);
        }*/

    @keyframes animi {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-1770px);
        }
    }
}