body{overflow-x: hidden}
@media all and (max-width: 320px ){
    body{
        position: relative;
        width: 100vw;
        background-color: white;

    }







    header {
        top: 0;
        margin: auto;
        height: 50px;
        position: fixed;
     /*   background: linear-gradient(to bottom, #35A29F 0%, #35A29F 30%, #088194 80%, #088194 100%);*/
        background-color: black;
        width: 100vw ;
        border-bottom: solid #088194;
        /*border-bottom: none ;*/
        z-index: 9999;
    }

    header > nav {
        position: absolute;
        top: -100px;

        display: inline-block;

        bottom: 0;
        right: 10px;
        margin: auto;

    }
    nav > ul {

        list-style-type: none;


    }

    header>nav > ul > li {
        display: inline;


    }

    #hamBtn {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        width: fit-content;
        border: none;
        background: none;
    }
    #hamBtn>img{

        width: 30px;
    }
    #sectionLinksHamButton{

        display: none;
        position: absolute;
        top: 70px;
        width: 100%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.8);

    }
    #sectionLinksHamButton>ul>li>a{
        text-decoration: none;
        font-size: 20px;
        padding: 20px;

    }
    #sectionLinksHamButton>ul{
        position: absolute;
        left: 0;
        right: 0;
        width: fit-content;
        margin: auto;
    }

    #sectionLinksHamButton>ul>li{
        margin: 25px;
    }

    header > nav > ul > a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        margin: 10px;
        font-family: Heebo;



    }

    header > img {
        width: 80px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        left: 10px;

    }

    header > i {
        display: none;
    }

    #homeSection {

        height: 600px;
        width: 100vw;
        position:relative;
        background-color: black;
        color: white;
        top:50px;
        margin: 0;
        padding: 0;
    }

    #homeSection > #introDiv {
        position: absolute;
        width: 100%;
        height: 805px;
        left: 0;
        right: 0;
        margin: auto;
        top:150px;
        z-index: 1;

    }

    #homeSection > #coverImgDiv {
        position: absolute;
        width: 90%;
        height: 805px;
        left: 10%;
        margin: auto;

        top: 10px;

    }

    #homeSection > #homeContactDiv {
        /* position: absolute;
         height: 805px;
         width: 5%;
         right: 4%;
         margin: auto;
 */
        position: absolute;
        width: 10%;
        height: 805px;
        left: 3%;
        top: 30px;
        margin: auto;

    }


    #homeSection > div > p {

        width: fit-content;
        height: fit-content;
        color: #0DB3AE;
    }

    #homeSection > #coverImgDiv > img {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
    /*    height: 500px*/;
        filter: grayscale(100%) contrast(130%) brightness(40%) saturate(50%);
    }

    #hellop {
        position: absolute;
        font-size: 40px;
        /*left: 315px;*/
        left: 0;
        right: 0;
        top: 50px;
        margin: auto;
    }
    #namePIntro {
        position: absolute;
        font-size: 27px;
        text-align: center;
        /*  left: 221px;*/
        left:0;
        right: 0;
        top: 100px;
        margin: auto;
    }



    #fromSL {
        position: absolute;
        font-size: 27px;
        /*left: 278px;*/
        left: 0;
        right: 0;
        top: 160px;
        margin: auto;
    }

    #motto1 {

        position: absolute;
        font-size: 20px;
        /* left: 155px;*/
        left:0;
        right: 0;
        text-align: center;
        /*opacity: 0.2;*/
        top: 242px;
        margin: auto;
    }

    #motto2 {

        position: absolute;
        font-size: 20px;
        left:0;
        right: 0;
        /*opacity: 0.2;*/
        top: 278px;
        margin: auto;
        text-align: center;


    }

    #homeSection > #homeContactDiv > a > img {
        margin: 2px;
        width: 30px;

    }

    #aboutSection {
        height: 1000px;
        top:0;
        background-color: white;

        width: 100%;
        /* height:981px;*/
        position: relative;

        color: black;
        /* top: 700px;*/
        margin: 0;
        padding: 0;

    }

    #aboutSection > #aboutCoverImgDiv {
        position: absolute;
        top: 17%;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        aspect-ratio: 1/1.2;
        /*border: solid #088395;*/
        border: solid deeppink;
        border-radius: 10px;


    }

    #aboutSection > #aboutDescriptionDiv {
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        width: 98%;
        height: 850px;
    }

    #aboutDescriptionDiv > #aboutMeHeading {

        font-size: 54px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        right: 0;
        top: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;

    }

    #whoAmI {
        font-size: 20px;
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        top: 25px;
        margin: auto;
        font-family: Heebo;
    }

    #descriptionMe {
        font-size: 20px;
        position: absolute;
        left: 10%;
        right: 10%;
        top: 460px;
        margin: auto;
        font-family: Heebo;
    }

    #aboutCoverImgDiv > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 70%;
        height: 75%;

    }

    #downloadCV {

        color: #35A29F;
        font-size: 15px;
        position: absolute;
        height: 7%;
        width: 80%;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-color: white;
        border: solid #35A29F;
        text-align: center;
        border-radius: 5px;

    }
    #downloadCV>img{
        position: absolute;
        height: 45px;
        aspect-ratio: 1/1;
        top: 0;
        bottom: 0;
        left: 15px;
        margin: auto;
    }

    .shine{
        background: linear-gradient(to right,#4d4d4d 0,white 10%, #4d4d4d 20%);
        background-position: 0;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: move 10s infinite linear;
        animation-fill-mode: forwards;

    }
}
@media all and (min-width: 321px ) and (max-width: 460px){
    body{
        position: relative;
        width: 100vw;

    }


    #aboutSection{
        width: 100%;
        height:981px;
        position:relative;
        background-color: white;
        color: black;
        top: 0px;
        margin: 0;
        padding: 0;

    }





    header {
        top: 0;
        margin: auto;
        height: 50px;
        position: fixed;
      /*  background: linear-gradient(to bottom, #35A29F 0%, #35A29F 30%, #088194 80%, #088194 100%);*/
        background-color: black;
        border-bottom: solid #088194;
        width: 100vw ;


        z-index: 9999;
    }

    header > nav {
        position: absolute;
        top: -100px;

        display: inline-block;

        bottom: 0;
        right: 10px;
        margin: auto;

    }
    nav > ul {

        list-style-type: none;


    }

    header>nav > ul > li {
        display: inline;


    }

    #hamBtn {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
        width: fit-content;
        border: none;
        background: none;
    }
    #hamBtn>img{

        width: 23px;
    }
    #sectionLinksHamButton{
        display: none;
        position: absolute;
        top: 50px;
        width: 100%;
        height: 450px;
        background-color: rgba(0, 0, 0, 0.8);

    }
    #sectionLinksHamButton>ul>li>a{
        text-decoration: none;
        font-size: 20px;
        padding: 20px;

    }
    #sectionLinksHamButton>ul{
        position: absolute;
        left: 0;
        right: 0;
        width: fit-content;
        margin: auto;
    }

    #sectionLinksHamButton>ul>li{
        margin: 25px;
    }

    header > nav > ul > a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        margin: 10px;
        font-family: Heebo;



    }

    header > img {
        width: 60px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        left: 5px;

    }

    header > i {
        display: none;
    }

    #homeSection {

        height: 700px;
        width: 100vw;
        position: relative;
        background-color: black;
        color: white;
        top:50px;
        margin: 0;
        padding: 0;
    }

    #homeSection > #introDiv {
        position: absolute;
        width: 100%;
        height: 805px;
        left: 0;
        right: 0;
        margin: auto;
        top:120px;
        z-index: 1;

    }

    #homeSection > #coverImgDiv {
        position: absolute;
        width: 80%;
        height: 805px;
        left: 2%;
        margin: auto;

        top: 20px;

    }

    #homeSection > #homeContactDiv {
        /* position: absolute;
         height: 805px;
         width: 5%;
         right: 4%;
         margin: auto;
 */
        position: absolute;
        width: 10%;
        height: 805px;
        left: 3%;
        top: 30px;
        margin: auto;

    }


    #homeSection > div > p {

        width: fit-content;
        height: fit-content;
        color: #0DB3AE;
    }

    #homeSection > #coverImgDiv > img {
        position: absolute;
        top: 50px;
        left: 80px;
        right: 0;
        margin: auto;
        width: 270px;
        height: 500px;
        filter: grayscale(100%) contrast(130%) brightness(40%) saturate(50%);
    }

    #hellop {
        position: absolute;
        font-size: 40px;
        /*left: 315px;*/
        left: 0;
        right: 0;
        top: 80px;
        margin: auto;
    }
    #namePIntro {
        position: absolute;
        font-size: 27px;
        text-align: center;
        /*  left: 221px;*/
        left:0;
        right: 0;
        top: 150px;
        margin: auto;
    }



    #fromSL {
        position: absolute;
        font-size: 27px;
        /*left: 278px;*/
        left: 0;
        right: 0;
        top: 160px;
        margin: auto;
    }

    #motto1 {

        position: absolute;
        font-size: 20px;
         /*left: 155px;*/
        left:0;
        right: 0;
        text-align: center;
     /*   opacity: 0.2;*/
        top: 265px;
        margin: auto;
    }

    #motto2 {

        position: absolute;
        font-size: 24px;
        left:0;
        right: 0;
        /*opacity: 0.2;*/
        top: 278px;
        margin: auto;


    }

    #homeSection > #homeContactDiv > a > img {
        margin: 5px;
        width: 30px;
        height: 30px;
    }

    #aboutSection {
        height: 1000px;
       /* top: 650px;*/
top: 0;

        width: 100%;

        position:relative;
        background-color: white;
        color: black;
        margin: 0;
        padding: 0;

    }

    #aboutSection > #aboutCoverImgDiv {
        position: absolute;
        top: 17%;
        left: 0;
        right: 0;
        margin: auto;
        /*width: 80%;*/
        width: 300px;
        aspect-ratio: 1/1.3;
        /*border: solid #088395;*/
        border: solid blue;
        border-radius: 10px;


    }

    #aboutSection > #aboutDescriptionDiv {
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        width: 98%;
        height: 900px;
    }

    #aboutDescriptionDiv > #aboutMeHeading {

        font-size: 70px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        right: 0;
        top: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;

    }

    #whoAmI {
        font-size: 25px;
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
        margin: auto;
        font-family: Heebo;
    }

    #descriptionMe {
        font-size: 20px;
        position: absolute;
        left: 10%;
        right: 10%;
        top: 550px;
        margin: auto;
        font-family: Heebo;
    }

    #aboutCoverImgDiv > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
       /* width: 70%;
        height: 75%;*/
        width: 200px;

    }

    #downloadCV {

        color: #35A29F;
        font-size: 15px;
        position: absolute;
        height: 8%;
        width: 50%;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-color: white;
        border: solid #35A29F;
        text-align: center;
        border-radius: 5px;

    }
    #downloadCV>img{
        position: absolute;
        height: 45px;
        aspect-ratio: 1/1;
        top: 0;
        bottom: 0;
        left: 15px;
        margin: auto;
    }
    .shine{
        background: linear-gradient(to right,#4d4d4d 0,white 10%, #4d4d4d 20%);
        background-position: 0;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: move 10s infinite linear;
        animation-fill-mode: forwards;

    }
}
@media all and (min-width: 461px ) and (max-width: 768px){
    body{
        position: relative;
        width: 100vw;

    }








    header {
        top: 0;
        margin: auto;
        height: 50px;
        position: fixed;
       /* background: linear-gradient(to bottom, #35A29F 0%, #35A29F 30%, #088194 80%, #088194 100%);*/
        background-color: black;
        width: 100vw ;
        border-bottom: solid #088194;
      /*  border-bottom: none ;*/
        z-index: 9999;
    }

    header > nav {
        position: absolute;
        top: -100px;

        display: inline-block;

        bottom: 0;
        right: 10px;
        margin: auto;

    }
    nav > ul {

        list-style-type: none;


    }

    header>nav > ul > li {
        display: inline;


    }

    #hamBtn {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 30px;
        width: fit-content;
        background: none;
        border: none;
    }
    #hamBtn>img{


        width: 25px;
    }
    #sectionLinksHamButton{
        display: none;
        position: absolute;
        top: 50px;
        width: 100%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.8);

    }
    #sectionLinksHamButton>ul>li>a{
        text-decoration: none;
        font-size: 20px;
        padding: 20px;

    }
    #sectionLinksHamButton>ul{
        position: absolute;
        left: 0;
        right: 0;
        width: fit-content;
        margin: auto;
        list-style: none;
    }

    #sectionLinksHamButton>ul>li{
        margin: 25px;
    }

    header > nav > ul > a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        margin: 10px;
        font-family: Heebo;



    }

    header > img {
        width: 80px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        left: 5px;

    }

    header > i {
        display: none;
    }

    #homeSection {

        height: 600px;
        width: 100vw;
        position: relative;
        background-color: black;
        color: white;
        top:50px;
        margin: 0;
        padding: 0;
    }

    #homeSection > #introDiv {
        position: absolute;
        width: 100%;
        height: 805px;
        left: 0;
        right: 0;
        margin: auto;
        top:120px;
        z-index: 1;

    }

    #homeSection > #coverImgDiv {
        position: absolute;
        width: 70%;
      height: 805px;
        left: 10%;
        margin: auto;

        top: 10px;

    }

    #homeSection > #homeContactDiv {
        /* position: absolute;
         height: 805px;
         width: 5%;
         right: 4%;
         margin: auto;
 */
        position: absolute;
        width: 10%;
        height: 805px;
        left: 3%;
        top: 30px;
        margin: auto;

    }


    #homeSection > div > p {

        width: fit-content;
        height: fit-content;
        color: #0DB3AE;
    }

    #homeSection > #coverImgDiv > img {
        position: absolute;
        top: 50px;
        left: 80px;
        right: 0;
        margin: auto;

    width: 270px;
    height: 500px;
        filter: grayscale(100%) contrast(130%) brightness(40%) saturate(50%);
    }

    #hellop {
        position: absolute;
        font-size: 40px;
        /*left: 315px;*/
        left: 0;
        right: 0;
        top: 50px;
        margin: auto;
    }
    #namePIntro {
        position: absolute;
        font-size: 27px;
        /*  left: 221px;*/
        text-align: center;
        left:0;
        right: 0;
        top: 100px;
        margin: auto;
    }



    #fromSL {
        position: absolute;
        font-size: 27px;
        /*left: 278px;*/
        left: 0;
        right: 0;
        top: 160px;
        margin: auto;
    }

    #motto1 {

        position: absolute;
        font-size: 30px;
        /* left: 155px;*/
        left:0;
        right: 0;
        text-align: center;
    /*    opacity: 0.2;*/
        top: 242px;
        margin: auto;
    }

    #motto2 {

        position: absolute;
        font-size: 30px;
        left:0;
        right: 0;
       /* opacity: 0.2;*/
        top: 278px;
        margin: auto;


    }

    #homeSection > #homeContactDiv > a > img {
        margin: 5px;
        width: 30px;
        height: 30px;
    }

    #aboutSection {
        height: 1200px;
        top: 0;
        width: 100%;
        position: relative;
        background-color: white;
        color: black;
        margin: 0;
        padding: 0;

    }

    #aboutSection > #aboutCoverImgDiv {
        position: absolute;
        top: 17%;
        left: 0;
        right: 0;
        margin: auto;
       /* width: 60%;
        aspect-ratio: 1/1.2;*/
        width: 400px;
        height: 500px;
        /* border: solid #088395;*/
        border: solid yellow;
        border-radius: 10px;


    }

    #aboutSection > #aboutDescriptionDiv {
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        width: 98%;
        height: 1037px;
    }

    #aboutDescriptionDiv > #aboutMeHeading {

        font-size: 70px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        right: 0;
        top: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;

    }

    #whoAmI {
        font-size: 25px;
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
        margin: auto;
        font-family: Heebo;
    }

    #descriptionMe {
        font-size: 20px;
        position: absolute;
        left: 10%;
        right: 10%;
        top: 750px;
        margin: auto;
        font-family: Heebo;
    }

    #aboutCoverImgDiv > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 70%;
       /* height: 75%;*/

    }

    #downloadCV {

        color: #35A29F;
        font-size: 15px;
        position: absolute;
        height: 8%;
        width: 45%;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-color: white;
        border: solid #35A29F;
        text-align: center;
        border-radius: 5px;

    }
    #downloadCV>img{
        position: absolute;
        height: 45px;
        aspect-ratio: 1/1;
        top: 0;
        bottom: 0;
        left: 15px;
        margin: auto;
    }
    .shine{
        background: linear-gradient(to right,#4d4d4d 0,white 10%, #4d4d4d 20%);
        background-position: 0;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: move 10s infinite linear;
        animation-fill-mode: forwards;

    }
}
@media all and (min-width: 769px ) and (max-width: 834px){
    body {
    position: relative;

}


    nav > ul {

        list-style-type: none;


    }

    header > nav > ul > li {
        display: inline;


    }


    #aboutSection {
        width: 100%;
        height: 981px;
        position: relative;
        background-color: white;
        color: black;
        top: 0px;
        margin: 0;
        padding: 0;
    }


    header {
        top: 0;
        margin: auto;
        height: 64px;
        position: fixed;
        background-color: black;
        width: 100%;

        border-bottom: solid #088194;
        z-index: 9999;
    }

    header > nav {
        position: absolute;
        top: -100px;

        display: inline-block;

        bottom: 0;
        right: 10px;
        margin: auto;


    }

    #hamBtn {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        width: fit-content;
        background: none;
        border: none;
    }
    #hamBtn>img{


        width: 30px;
    }
    #sectionLinksHamButton{
        display: none;
        position: absolute;
        top: 60px;
        width: 100%;
        height: 450px;
        background-color: rgba(0, 0, 0, 0.8);

    }
    #sectionLinksHamButton>ul>li>a{
        text-decoration: none;
        font-size: 20px;
        padding: 20px;

    }
    #sectionLinksHamButton>ul{
        position: absolute;
        left: 0;
        right: 0;
        width: fit-content;
        margin: auto;
    }

    #sectionLinksHamButton>ul>li{
        margin: 25px;
    }


    header > nav > ul > a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        margin: 10px;
        font-family: Heebo;


    }

    header > img {
        width: 80px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        left: 10px;

    }

    header > i {
        display: none;
    }

    #homeSection {

        height: 540px;
        width: 100%;

        position: relative;
        background-color: black;
        color: white;
        top: 50px;
        margin: 0;
        padding: 0;
    }

    #homeSection > #introDiv {
        position: absolute;
        width: 60%;
        height: 805px;
        left: 10%;
        margin: auto;
        top: 60px;


    }

    #homeSection > #coverImgDiv {
        position: absolute;
        width: 42%;
        height: 805px;
        left: 54%;
        margin: auto;

    }

    #homeSection > #homeContactDiv {
        position: absolute;
        height: 805px;
        width: 5%;
        right: 4%;
        margin: auto;

        position: absolute;
        width: 5%;
        height: 805px;
        right: 7%;
        top: 90px;
        margin: auto;

    }

    #homeSection > div > p {

        width: fit-content;
        height: fit-content;
        color: #0DB3AE;
    }

    #homeSection > #coverImgDiv > img {
        position: absolute;
        top: 75px;
        margin: auto;
        width: 232px;
        height: 435px;
        filter: grayscale(100%) contrast(130%) brightness(40%) saturate(50%);
    }

    #hellop {
        position: absolute;
        font-size: 40px;
        left: 315px;
        left: 30%;
        top: 50px;
        margin: auto;
    }

    #namePIntro {
        position: absolute;
        font-size: 27px;
        left: 221px;
        left: 10%;
        text-align: center;
        top: 100px;
        margin: auto;
    }


    #fromSL {
        position: absolute;
        font-size: 27px;
        left: 278px;
        left: 20%;
        top: 160px;
        margin: auto;
    }

    #motto1 {

        position: absolute;
        font-size: 26px;
     /*   left: 155px;
        left: 20%;*/
      /*  opacity: 0.2;*/
        left: 0;
        text-align: center;
        top: 242px;
        margin: auto;
    }

    #motto2 {

        position: absolute;
        font-size: 24px;
        left: 0;
        /*opacity: 0.2;*/
        top: 278px;
        margin: auto;


    }

    #homeSection > #homeContactDiv > a > img {
        margin: 7px;
    }

    #aboutSection {
        height: 1000px;

    }

    #aboutSection > #aboutCoverImgDiv {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        width: 40%;
        aspect-ratio: 1/1.3;
        border: solid #088395;
        border-radius: 10px;


    }

    #aboutSection > #aboutDescriptionDiv {
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        height: 850px;
    }

    #aboutDescriptionDiv > #aboutMeHeading {

        font-size: 90px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        right: 0;
        top: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;

    }

    #whoAmI {
        font-size: 30px;
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        margin: auto;
        font-family: Heebo;
    }

    #descriptionMe {
        font-size: 20px;
        position: absolute;
        left: 10%;
        right: 10%;
        top: 600px;
        margin: auto;
        font-family: Heebo;
    }

    #aboutCoverImgDiv > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 70%;
        height: 75%;

    }

    #downloadCV {

        color: #35A29F;
        font-size: 15px;
        position: absolute;
        height: 8%;
        width: 35%;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-color: white;
        border: solid #35A29F;
        text-align: center;
        border-radius: 5px;

    }
    #downloadCV>img{
        position: absolute;
        height: 45px;
        aspect-ratio: 1/1;
        top: 0;
        bottom: 0;
        left: 15px;
        margin: auto;
    }
    .shine{
        background: linear-gradient(to right,#4d4d4d 0,white 10%, #4d4d4d 20%);
        background-position: 0;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: move 10s infinite linear;
        animation-fill-mode: forwards;

    }
    .coverImageAboutMe {
        transition: transform 1s ease-in-out; /* Ensure transition is applied */
    }

    .coverImageAboutMe:hover {
       -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@media all and (min-width: 835px ) and (max-width: 1024px){
    body {
        position: relative;

    }


    nav > ul {

        list-style-type: none;


    }

    header > nav > ul > li {
        display: inline;


    }

    #aboutSection {
        width: 100%;
  /*      height: 981px;*/
        height: 700px;
        position: relative;
        background-color: white;
        color: black;
        top: 0px;
        margin: 0;
        padding: 0;
    }


    header {
        top: 0;
        margin: auto;
        position: fixed;
        background-color: black;
        width: 100%;
        height: 50px;
        border-bottom: solid #088194;
        z-index: 9999;

    }

    header > nav {
        top: 0;
        position: absolute;
        display: inline-block;

        bottom: 0;
        right: 10px;
        margin: auto;

    }

    #hamBtn {
        /* position: absolute;
         top: -100px;*/
        display: none;
    }
    #sectionLinksHamButton{
        display: none;
    }
    header > nav > ul > a {
        text-decoration: none;
        font-size: 20px;
        color: white;
        margin: 10px;
        font-family: Heebo;

    }

    header > img {
        width: 80px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 10px;

    }

    header > i {
        display: none;
    }

    #homeSection {
        height: 873px;

        width: 100%;
        position: relative;
        background-color: black;
        color: white;
        top: 50px;
        margin: 0;
        padding: 0;
    }

    #homeSection > #introDiv {
        position: absolute;
        width: 68%;
        height: 805px;
        left: 5%;
        margin: auto;
        top: 32px;


    }

    #homeSection > #coverImgDiv {
        position: absolute;
        width: 42%;
        height: 805px;
        left: 54%;
        margin: auto;

    }

    #homeSection > #homeContactDiv {
        position: absolute;
        width: 5%;
        height: 805px;
        right: 5%;
        top: 150px;
        margin: auto;

    }

    #homeSection > div > p {

        width: fit-content;
        height: fit-content;
        color: #0DB3AE;
    }

    #homeSection > #coverImgDiv > img {
        position: absolute;
        top: 66px;
        margin: auto;
        width: 420px;
        height: 804px;
        filter: grayscale(100%) contrast(130%) brightness(40%) saturate(50%);
    }

    #hellop {
        position: absolute;
        font-size: 70px;
        /*left: 315px;*/
        left: 35%;
        top: 80px;
        margin: auto;
    }

    #namePIntro {
        position: absolute;
        font-size: 35px;
        /*  left: 221px;*/
        text-align: center;
        left: 20%;
        top: 208px;
        margin: auto;
    }

    /*  #motto1 {
          position: absolute;
          font-size: 35px;
          left: 5px;
          top: 250px;
          opacity: 0.2;
          margin: auto;

      }*/
    #fromSL {
        position: absolute;
        font-size: 35px;
        /*left: 278px;*/
        left: 30%;
        top: 304px;
        margin: auto;
    }

    #motto1 {

        position: absolute;
        font-family: 'Dosis', sans-serif;
        font-size: 33px;
        /* left: 155px;*/
        /*left: 20%;*/
        left: 20px;
        text-align: center;
        top: 438px;
     /*   opacity: 0.2;*/
        margin: auto;
    }

    #motto2 {

        position: absolute;
        font-size: 33px;
        font-family: 'Dosis', sans-serif;
        left: 0;
       /* opacity: 0.2;*/
        top: 500px;
        margin: auto;
    }

    #homeSection > #homeContactDiv > a > img {
        margin: 7px;
    }

    #aboutSection > #aboutCoverImgDiv {
        position: absolute;
        top: 12%;
        left: 15px;
        margin: auto;
        width: 37%;
        aspect-ratio: 1/1.3;
        border: solid #088395;
        border-radius: 20px;


    }

    #aboutSection > #aboutDescriptionDiv {
        position: absolute;
        top: 12%;
        left: 40%;
        margin: auto;
        width: 65%;
        /* aspect-ratio: 1/0.735;*/
        height: 500px;
    }

    #aboutDescriptionDiv > #aboutMeHeading {

        font-size: 81px;
        position: absolute;
        color: #35A29F;

        left: 15%;
        top: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;

    }

    #whoAmI {
        font-size: 37px;
        position: absolute;
        left: 30%;
        top: 35px;
        margin: auto;
        font-family: Heebo;
    }

    #descriptionMe {
        font-size: 25px;
        position: absolute;
        left: 10%;
        right: 10%;
        top: 135px;
        margin: auto;
        font-family: Heebo;
    }

    #aboutCoverImgDiv > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 70%;
        height: 75%;

    }

    #downloadCV {

        color: #35A29F;
        font-size: 15px;
        position: absolute;
        height: 13%;
        width: 30%;
        left: 0;
        bottom: 71px;
        right: 0;
        margin: auto;
        background-color: white;
        border: solid #35A29F;
        text-align: center;
        border-radius: 10px;

    }
    #downloadCV>img{
        position: absolute;
        height: 45px;
        aspect-ratio: 1/1;
        top: 0;
        bottom: 0;
        left: 15px;
        margin: auto;
    }
    .shine{
        background: linear-gradient(to right,#4d4d4d 0,white 10%, #4d4d4d 20%);
        background-position: 0;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: move 5s infinite linear;
        animation-fill-mode: forwards;

    }
    .coverImageAboutMe {
        transition: transform 1s ease-in-out; /* Ensure transition is applied */
    }

    .coverImageAboutMe:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2);
    }
}
@media all and (min-width: 1025px ) and (max-width: 1440px){
    body {
        position: relative;

    }


    nav > ul {

        list-style-type: none;


    }

    header > nav > ul > li {
        display: inline;


    }


    #homeSection {
        width: 100%;
        height: 905px;
        position: relative;
        background-color: black;
        color: white;
        top: 50px;
        margin: 0;
        padding: 0;

    }

    #aboutSection {
        width: 100%;
        height: 800px;
        position: relative;
        background-color: white;
        color: black;
        top: 0px;
        margin: 0;
        padding: 0;
    }


    header {
        top: 0;
        margin: auto;

        position: fixed;
        background-color: black;
        width: 100%;
        height: 50px;
        border-bottom: solid #088194;
        z-index: 9999;


    }

    header > nav {
        top: 0;
        position: absolute;
        display: inline-block;

        bottom: 0;
        right: 10px;
        margin: auto;

    }

    #hamBtn {
        /*position: absolute;
        top:-100px;*/
        display: none;
    }
    #sectionLinksHamButton{
        display: none;
    }
    header > nav > ul > a {

        color: white;
        text-decoration: none;
        font-size: 20px;
        font-family: Heebo;
        margin: 10px;
    }

    header > img {
        width: 80px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 10px;
        margin: auto;
    }

    header > i {
        display: none;
    }


    #homeSection > #introDiv {
        position: absolute;
        width: 60%;
        height: 805px;
        left: 5%;
        margin: auto;
        top: 32px;


    }

    #homeSection > #coverImgDiv {
        position: absolute;
        width: 42%;
        height: 805px;
        left: 54%;
        margin: auto;

    }

    #homeSection > #homeContactDiv {
        position: absolute;
        width: 5%;
        height: 805px;
        right: 5%;
        top: 150px;
        margin: auto;

    }

    #homeSection > div > p {

        width: fit-content;
        height: fit-content;
        color: #0DB3AE;
    }

    #homeSection > #coverImgDiv > img {
        position: absolute;
        top: 66px;
        margin: auto;
        width: 420px;
        height: 804px;
        /*  filter: grayscale(100%);*/

        /* filter: saturate(0%);
          filter: contrast(100%);
          filter: brightness(100%);*/
        filter: grayscale(100%) contrast(130%) brightness(40%) saturate(50%);
    }

    #hellop {
        position: absolute;
        font-size: 78px;
        /*left: 315px;*/
        left: 30%;
        top: 80px;
        margin: auto;
    }

    #namePIntro {
        position: absolute;
        font-size: 35px;
        /*  left: 221px;*/
        left: 20%;
        text-align: center;
        top: 208px;
        margin: auto;
    }

    /*    #motto1 {
            position: absolute;
            font-size: 50px;
            left: 0;
            top: 250px;
            margin: auto;
            font-family: 'Dosis', sans-serif;
        }*/
    #fromSL {
        position: absolute;
        font-size: 35px;
        /*left: 278px;*/
        left: 25%;
        top: 295px;
        margin: auto;
    }

    #motto1 {

        position: absolute;
        font-size: 35px;
        /* left: 155px;*/
      /*  left: 23%;*/
        left: 50px;
        top: 438px;
        font-family: 'Dosis', sans-serif;
        margin: auto;
        text-align: center;
    }

    #motto2 {

        position: absolute;
        font-size: 35px;
        left: 0;
        top: 500px;
        font-family: 'Dosis', sans-serif;
        font-weight: 20;
        margin: auto;
    }

    #homeSection > #homeContactDiv > a > img {
        margin: 10px;
    }

    #aboutSection > #aboutCoverImgDiv {
        position: absolute;
        top: 15%;
        left: 40px;
        margin: auto;
        width: 35%;
        aspect-ratio: 1/1.3;
        border: solid #088395;
        border-radius: 20px;


    }

    #aboutSection > #aboutDescriptionDiv {
        position: absolute;
        top: 12%;
        left: 44%;
        margin: auto;
        width: 55%;
        /*aspect-ratio: 1/0.735;*/
        height: 600px;
    }

    #aboutDescriptionDiv > #aboutMeHeading {

        font-size: 94px;
        position: absolute;
        color: #35A29F;

        left: 20%;
        top: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;

    }

    #whoAmI {
        font-size: 40px;
        position: absolute;
        left: 40%;
        top: 32px;
        margin: auto;
        font-family: Heebo;
    }

    #descriptionMe {
        font-size: 32px;
        position: absolute;
        left: 10%;
        right: 10%;
        top: 170px;
        margin: auto;
        font-family: Heebo;
    }

    #aboutCoverImgDiv > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 70%;
        height: 75%;

    }

    #downloadCV {

        color: #35A29F;
        font-size: 20px;
        position: absolute;
        height: 13%;
        width: 38%;
        left: 0;
        bottom: 0px;
        right: 0;
        margin: auto;
        background-color: white;
        border: solid #35A29F;
        text-align: center;
        border-radius: 10px;

    }
    #downloadCV>img{
        position: absolute;
        height: 45px;
        aspect-ratio: 1/1;
        top: 0;
        bottom: 0;
        left: 15px;
        margin: auto;
    }
    .shine{
        background: linear-gradient(to right,#4d4d4d 0,white 10%, #4d4d4d 20%);
        background-position: 0;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: move 5s infinite linear;
        animation-fill-mode: forwards;

    }
    .coverImageAboutMe {
        transition: transform 1s ease-in-out; /* Ensure transition is applied */
    }

    .coverImageAboutMe:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2);
    }
}
@media all and  (min-width: 1440px) {


    body {
        position: relative;
        width: 100vw;

    }

    nav > ul {

        list-style-type: none;


    }

    header > nav > ul > li {
        display: inline;


    }


    #aboutSection {
        width: 100%;
        height: 981px;
        position: relative;
        background-color: white;
        color: black;
        top: 80px;
        margin: 0;
        padding: 0;
    }


    header {
        top: 0;
        margin: auto;


        position: fixed;
        background-color: black;
        width: 100%;
        height: 75px;
        border-bottom: solid #088194;
        z-index: 9999;


    }

    header > nav {
        top: 10px;

        position: absolute;
        display: inline-block;

        bottom: 0;
        right: 10px;
        margin: auto;
    }


    header > nav > ul > a {
        font-size: 24px;
        font-weight: 10;
        color: white;
        text-decoration: none;

        font-family: Heebo;
        margin: 10px;

    }


    header > img {
        width: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;


        left: 10px;

    }

    #hamBtn {
        position: absolute;
        top:-100px;
        display: none;
    }
    #sectionLinksHamButton{
  display: none;
    }



    #homeSection {
        width: 100%;
        height: 905px;
        position: relative;
        background-color: black;
        color: white;
        top: 67px;
        margin: 0;
        padding: 0;
    }

    #homeSection > #introDiv {
        position: absolute;
        width: 60%;
        height: 805px;
        left: 5%;
        margin: auto;
        top: 32px;


    }

    #homeSection > #coverImgDiv {
        position: absolute;
        width: 42%;
        height: 805px;
        left: 54%;
        margin: auto;


    }

    #homeSection > #homeContactDiv {
        position: absolute;
        width: 5%;
        height: 805px;
        right: 5%;
        top: 150px;
        margin: auto;

    }

    #homeSection > div > p {

        width: fit-content;
        height: fit-content;
        color: #0DB3AE;
    }

    #homeSection > #coverImgDiv > img {
        position: absolute;
        top: 66px;
        margin: auto;
        width: 420px;
        height: 804px;
        filter: grayscale(100%);

        filter: saturate(0%);
        filter: contrast(100%);
        filter: brightness(100%);
        filter: grayscale(100%) contrast(130%) brightness(40%) saturate(50%);
    }

    #hellop {
        position: absolute;
        font-size: 82px;
        left: 315px;
        left: 35%;
        top: 80px;
        margin: auto;

    }

    #namePIntro {
        position: absolute;
        font-size: 40px;
        left: 221px;
        left: 25%;
        top: 208px;
        margin: auto;
        text-align: center;
    }

    /*#motto1 {
        position: absolute;
        font-size: 50px;
        left: 0;
        top: 250px;
        margin: auto;
        opacity: 0.2;
        font-family: 'Dosis', sans-serif;
    }*/
    #fromSL {
        position: absolute;
        font-size: 40px;
        left: 278px;
        left: 30%;
        top: 304px;
        margin: auto;
    }

    #motto1 {

        position: absolute;
        font-size: 50px;
      /* left: 155px;*/
        left :50px;
      /* left: 23%;*/
        top: 438px;
        width: 100px;
        font-family: 'Dosis', sans-serif;
        opacity: 0.9;
        margin: auto;
        text-align: center;



    }

    #motto2 {

        position: absolute;
        font-size: 50px;
        left: 0;
        top: 500px;
        font-family: 'Dosis', sans-serif;
        font-weight: 20;
       /* opacity: 0.2;*/
        margin: auto;

    }

    #homeSection > #homeContactDiv > a > img {
        margin: 10px;
    }

    #aboutSection > #aboutCoverImgDiv {
        position: absolute;
        top: 12%;
        left: 5%;
        margin: auto;
        width: 30%;
        aspect-ratio: 1/1.3;
        border: solid #088395;

        border-radius: 20px;


    }

    #aboutSection > #aboutDescriptionDiv {
        position: absolute;
        top: 12%;
        left: 44%;
        margin: auto;
        width: 55%;
        aspect-ratio: 1/0.735;
        height: 600px;
    }

    #aboutDescriptionDiv > #aboutMeHeading {

        font-size: 120px;
        position: absolute;
        color: #35A29F;

        left: 17%;
        top: 0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;

    }

    #whoAmI {
        font-size: 50px;
        position: absolute;
        left: 35%;
        top: 45px;
        margin: auto;
        font-family: Heebo;
    }

    #descriptionMe {
        font-size: 32px;
        position: absolute;
        left: 10%;
        right: 10%;
        top: 170px;
        margin: auto;
        font-family: Heebo;
    }

    #aboutCoverImgDiv > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 70%;
        height: 75%;

    }

    #downloadCV {

        color: #35A29F;
        font-size: 20px;
        position: absolute;
        height: 13%;
        width: 30%;
        left: 0;
        bottom: 30px;
        right: 0;
        margin: auto;
        background-color: white;
        border: solid #35A29F;
     /*   text-align: center;*/
        border-radius: 10px;
       /* text-align: match-parent;*/
        text-align: right; /* Align text to the right */
        padding-right: 25px;


    }
    #downloadCV>img{
        position: absolute;
        height: 45px;
        aspect-ratio: 1/1;
        top: 0;
        bottom: 0;
       left: 30px;
        margin: auto;
    }
  .shine{
        background: linear-gradient(to right,#4d4d4d 0,white 3%, #4d4d4d 5%);
        background-position: 0;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: move 5s infinite linear;
        animation-fill-mode: forwards;

    }
    .coverImageAboutMe {
        transition: transform 1s ease-in-out; /* Ensure transition is applied */
    }

    .coverImageAboutMe:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2);
    }
}



@keyframes move {
    0%{
        background-position: 0;
    }
    50%{
        background-position: 300px;
    }
    100%{
        background-position: 800px;
    }

}
nav>ul>a:hover{
    color: #0DB3AE;
}
