body{
position: relative;

}
header{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 75px;
    border-bottom:solid #088194;
    z-index: 9999;
    top:0;
    margin: auto;
}

nav {
    position: absolute;
    display: inline-block;

    bottom: 0;
    right: 10px;
    margin: auto;

}

nav > ul {

    list-style-type: none;


}

header>nav > ul > li {
    display: inline;


}
header>nav>ul>a{

    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: Heebo;
    margin: 10px;
}
header>img{

    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}
#homeSection{
    width: 100%;
    height:905px;
    position: relative;
    background-color: black;
    color: white;
    top:67px;
    margin: 0;
    padding: 0;

}
#aboutSection{
    width: 100%;
    height:981px;
    position: relative;
    background-color: white;
    color: black;
   /* top:905px;
    margin: 0;
    padding: 0;*/
}

@media only screen and (max-width: 360px) {

    header{
        top:0;
        margin: auto;
        background-color: black;
        width: 100%;
        height: 100px;
        position: fixed;

    }
    header>nav{

    }
    header>nav>a{


    }
    header>img{
        width: 100px;

    }
    header>i{
        color: white;
        right: 0;
        top:0;
        bottom: 0;
        position: absolute;
        margin: auto;
    }
}
@media only screen and (max-width: 834px) {
    header {
        top:0;
        margin: auto;
    }

    header > nav {

    }

    header > nav > ul > a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        margin: 10px;
        font-family: Heebo;
    }

    header > img {
        width: 80px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    header > i {
        display: none;
    }

    #homeSection {

     height: 540px;
    }

    #homeSection > #introDiv {
        position: absolute;
        width: 60%;
        height: 805px;
        left: 5%;
        margin: auto;
        top: 100px;


    }

    #homeSection > #coverImgDiv {
        position: absolute;
        width: 42%;
        height: 805px;
        left: 54%;
        margin: auto;

    }

    #homeSection > #homeContactDiv {
       /* position: absolute;
        height: 805px;
        width: 5%;
        right: 4%;
        margin: auto;
*/
        position: absolute;
        width: 5%;
        height: 805px;
        right: 7%;
        top: 90px;
        margin: auto;

    }

    #homeSection > div > p {

        width: fit-content;
        height: fit-content;
        color: #0DB3AE;
    }

    #homeSection > #coverImgDiv > img {
        position: absolute;
        top: 100px;
        margin: auto;
        width: 232px;
        height: 435px;
        filter: grayscale(100%) contrast(130%) brightness(40%) saturate(50%);
    }

    #hellop {
        position: absolute;
        font-size: 40px;
        /*left: 315px;*/
        left: 30%;
        top: 50px;
        margin: auto;
    }
    #namePIntro {
        position: absolute;
        font-size: 27px;
        /*  left: 221px;*/
        left: 10%;
        top: 100px;
        margin: auto;
    }



    #fromSL {
        position: absolute;
        font-size: 27px;
        /*left: 278px;*/
        left: 20%;
        top: 160px;
        margin: auto;
    }

    #motto1 {

        position: absolute;
        font-size: 24px;
        /* left: 155px;*/
        left: 20%;
        top: 250px;
        margin: auto;
    }

    #motto2 {

        position: absolute;
        font-size: 24px;
        left: 0;
        top: 280px;
        margin: auto;


    }
    #homeSection > #homeContactDiv > a > img {
        margin: 7px;
    }
    #aboutSection{
        height: 1000px;

    }

    #aboutSection>#aboutCoverImgDiv{
        position: absolute;
        top:20%;
        left: 0;
        right: 0;
        margin: auto;
        width: 40%;
        aspect-ratio: 1/1.3;
        border: solid #088395;
        border-radius: 10px;


    }
    #aboutSection>#aboutDescriptionDiv{
        position: absolute;
        top:5%;
        left: 0;
        right: 0;
        margin: auto ;
        width: 80%;
        height: 850px;
    }
    #aboutDescriptionDiv>#aboutMeHeading{

        font-size: 90px;
        position: absolute;
        color: #35A29F;
        width: fit-content;
        left: 0;
        right: 0;
        top:0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;

    }
    #whoAmI{
        font-size: 30px;
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        top:50px;
        margin: auto;
        font-family: Heebo;
    }
    #descriptionMe{
        font-size: 20px;
        position: absolute;
        left: 10%;
        right: 10%;
        top:600px;
        margin: auto;
        font-family: Heebo;
    }
    #aboutCoverImgDiv>img{
        position: absolute;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 70%;
        height: 75%;

    }
    #downloadCV{

        color: #35A29F;
        font-size: 15px;
        position: absolute;
        height: 8%;
        width: 35%;
        left:0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-color: white;
        border: solid #35A29F;
        text-align: center;
        border-radius: 5px;

    }
}
@media only screen and (min-width: 834px) {

    header {
        top:0;
        margin: auto;
    }

    header > nav {

    }

    header > nav > ul> a {
        text-decoration: none;
        font-size: 20px;
        color: white;
        margin: 10px;
        font-family: Heebo;
    }

    header > img {
        width: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    header > i {
        display: none;
    }

    #homeSection {
      height: 873px;
    }

    #homeSection > #introDiv {
        position: absolute;
        width: 60%;
        height: 805px;
        left: 5%;
        margin: auto;
        top: 32px;


    }

    #homeSection > #coverImgDiv {
        position: absolute;
        width: 42%;
        height: 805px;
        left: 54%;
        margin: auto;

    }

    #homeSection > #homeContactDiv {
        position: absolute;
        width: 5%;
        height: 805px;
        right: 5%;
        top: 150px;
        margin: auto;

    }

    #homeSection > div > p {

        width: fit-content;
        height: fit-content;
        color: #0DB3AE;
    }

    #homeSection > #coverImgDiv > img {
        position: absolute;
        top: 66px;
        margin: auto;
        width: 420px;
        height: 804px;
        filter: grayscale(100%) contrast(130%) brightness(40%) saturate(50%);
    }

    #hellop {
        position: absolute;
        font-size: 70px;
        /*left: 315px;*/
        left: 35%;
        top: 80px;
        margin: auto;
    }

    #namePIntro {
        position: absolute;
        font-size: 35px;
        /*  left: 221px;*/
        left: 20%;
        top: 208px;
        margin: auto;
    }

  /*  #motto1 {
        position: absolute;
        font-size: 35px;
        left: 5px;
        top: 250px;
        opacity: 0.2;
        margin: auto;

    }*/

    #fromSL {
        position: absolute;
        font-size: 35px;
        /*left: 278px;*/
        left: 30%;
        top: 304px;
        margin: auto;
    }

    #motto1 {

        position: absolute;
        font-family: 'Dosis', sans-serif;
        font-size: 33px;
        /* left: 155px;*/
        left: 20%;
        top: 438px;
        opacity: 0.2;
        margin: auto;
    }

    #motto2 {

        position: absolute;
        font-size: 33px;
        font-family: 'Dosis', sans-serif;
        left: 0;
        opacity: 0.2;
        top: 500px;
        margin: auto;
    }

    #homeSection > #homeContactDiv > a > img {
        margin: 7px;
    }
    #aboutSection>#aboutCoverImgDiv{
        position: absolute;
        top:12%;
        left:5%;
        margin: auto;
        width: 30%;
        aspect-ratio: 1/1.3;
        border: solid #088395;
        border-radius: 20px;


    }
    #aboutSection>#aboutDescriptionDiv{
        position: absolute;
        top:12%;
        left: 40%;
        margin: auto ;
        width: 65%;
       /* aspect-ratio: 1/0.735;*/
        height: 500px;
    }
    #aboutDescriptionDiv>#aboutMeHeading{

        font-size: 100px;
        position: absolute;
        color: #35A29F;

        left: 10%;
        top:0;
        opacity: 0.2;
        margin: auto;
        font-family: Jura;
        font-weight: 10;

    }
    #whoAmI{
        font-size: 40px;
        position: absolute;
        left: 35%;
        top:45px;
        margin: auto;
        font-family: Heebo;
    }
    #descriptionMe{
        font-size: 25px;
        position: absolute;
        left: 10%;
        right: 10%;
        top:170px;
        margin: auto;
        font-family: Heebo;
    }
    #aboutCoverImgDiv>img{
        position: absolute;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 70%;
        height: 75%;

    }
    #downloadCV{

        color: #35A29F;
        font-size: 15px;
        position: absolute;
        height: 13%;
        width: 30%;
        left:0;
        bottom: 20px;
        right: 0;
        margin: auto;
        background-color: white;
        border: solid #35A29F;
        text-align: center;
        border-radius: 10px;

    }

}

    @media only screen and (min-width: 1300px) {

        header {
            top:0;
            margin: auto;
        }

        header > nav {

        }

        header > nav >ul> a {
            font-size: 24px;

        }

        header > img {
            width: 100px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        header > i {
            display: none;
        }

        #homeSection {

        }

        #homeSection > #introDiv {
            position: absolute;
            width: 60%;
            height: 805px;
            left: 5%;
            margin: auto;
            top: 32px;


        }

        #homeSection > #coverImgDiv {
            position: absolute;
            width: 42%;
            height: 805px;
            left: 54%;
            margin: auto;

        }

        #homeSection > #homeContactDiv {
            position: absolute;
            width: 5%;
            height: 805px;
            right: 5%;
            top: 150px;
            margin: auto;

        }

        #homeSection > div > p {

            width: fit-content;
            height: fit-content;
            color: #0DB3AE;
        }

        #homeSection > #coverImgDiv > img {
            position: absolute;
            top: 66px;
            margin: auto;
            width: 420px;
            height: 804px;
         /*  filter: grayscale(100%);*/

          /* filter: saturate(0%);
            filter: contrast(100%);
            filter: brightness(100%);*/
            filter: grayscale(100%) contrast(130%) brightness(40%) saturate(50%);
        }

        #hellop {
            position: absolute;
            font-size: 82px;
            /*left: 315px;*/
            left: 35%;
            top: 80px;
            margin: auto;
        }

        #namePIntro {
            position: absolute;
            font-size: 40px;
            /*  left: 221px;*/
            left: 25%;
            top: 208px;
            margin: auto;
        }

    /*    #motto1 {
            position: absolute;
            font-size: 50px;
            left: 0;
            top: 250px;
            margin: auto;
            font-family: 'Dosis', sans-serif;
        }*/

        #fromSL {
            position: absolute;
            font-size: 40px;
            /*left: 278px;*/
            left: 30%;
            top: 304px;
            margin: auto;
        }

        #motto1 {

            position: absolute;
            font-size: 50px;
            /* left: 155px;*/
            left: 23%;
            top: 438px;
            font-family: 'Dosis', sans-serif;
            margin: auto;
        }

        #motto2 {

            position: absolute;
            font-size: 50px;
            left: 0;
            top: 500px;
            font-family: 'Dosis', sans-serif;
            font-weight: 20;
            margin: auto;
        }

        #homeSection > #homeContactDiv > a > img {
            margin: 10px;
        }
        #aboutSection>#aboutCoverImgDiv{
            position: absolute;
            top:12%;
            left:5%;
            margin: auto;
            width: 30%;
            aspect-ratio: 1/1.3;
            border: solid #088395;
            border-radius: 20px;


        }
        #aboutSection>#aboutDescriptionDiv{
            position: absolute;
            top:12%;
            left: 44%;
            margin: auto ;
            width: 55%;
            /*aspect-ratio: 1/0.735;*/
            height: 600px;
        }
        #aboutDescriptionDiv>#aboutMeHeading{

            font-size: 120px;
            position: absolute;
            color: #35A29F;

            left: 10%;
            top:0;
            opacity: 0.2;
            margin: auto;
            font-family: Jura;
            font-weight: 10;

        }
        #whoAmI{
            font-size: 50px;
            position: absolute;
            left: 35%;
            top:45px;
            margin: auto;
            font-family: Heebo;
        }
        #descriptionMe{
            font-size: 32px;
            position: absolute;
            left: 10%;
            right: 10%;
            top:170px;
            margin: auto;
            font-family: Heebo;
        }
        #aboutCoverImgDiv>img{
            position: absolute;
            top:0;
            left:0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 70%;
            height: 75%;

        }
        #downloadCV{

            color: #35A29F;
            font-size: 20px;
            position: absolute;
            height: 13%;
            width: 30%;
            left:0;
            bottom: 30px;
            right: 0;
            margin: auto;
            background-color: white;
            border: solid #35A29F;
            text-align: center;
            border-radius: 10px;

        }

    }

