body{
position: relative;
}
header{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 10%;
    border-bottom:solid #088194;
    z-index: 9999;
}

nav {
    position: absolute;
    display: inline-block;

    bottom: 0;
    right: 10px;
    margin: auto;

}

nav > ul {

    list-style-type: none;


}

header>nav > ul > li {
    display: inline;


}
header>nav>ul>a{

    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: Heebo;
    margin: 10px;
}
header>img{

    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}
#homeSection{
    width: 100%;
    height:905px;
    position: relative;
    background-color: black;
    color: white;
    top:67px;
    margin: 0;
    padding: 0;

}
#aboutSection{
    width: 100%;
    height:981px;
    position: relative;
    background-color: white;
    color: white;
    top:905px;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 360px) {

    header{

        background-color: black;
        width: 100%;
        height: 100px;
        position: fixed;

    }
    header>nav{



    }
    header>nav>a{


    }
    header>img{
        width: 100px;

    }
    header>i{
        color: white;
        right: 0;
        top:0;
        bottom: 0;
        position: absolute;
        margin: auto;
    }
}
@media only screen and (max-width: 834px) {
    header {

    }

    header > nav {

    }

    header > nav > ul > a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        margin: 10px;
        font-family: Heebo;
    }

    header > img {
        width: 80px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    header > i {
        display: none;
    }

    #homeSection {
     height: 540px;
    }

    #homeSection > #introDiv {
        position: absolute;
        width: 60%;
        height: 805px;
        left: 5%;
        margin: auto;
        top: 100px;


    }

    #homeSection > #coverImgDiv {
        position: absolute;
        width: 42%;
        height: 805px;
        left: 54%;
        margin: auto;

    }

    #homeSection > #homeContactDiv {
       /* position: absolute;
        height: 805px;
        width: 5%;
        right: 4%;
        margin: auto;
*/
        position: absolute;
        width: 5%;
        height: 805px;
        right: 7%;
        top: 90px;
        margin: auto;

    }

    #homeSection > div > p {

        width: fit-content;
        height: fit-content;
        color: #0DB3AE;
    }

    #homeSection > #coverImgDiv > img {
        position: absolute;
        top: 100px;
        margin: auto;
        width: 232px;
        height: 435px;
        filter: grayscale(100%) contrast(130%) brightness(40%) saturate(50%);
    }

    #hellop {
        position: absolute;
        font-size: 40px;
        /*left: 315px;*/
        left: 30%;
        top: 50px;
        margin: auto;
    }
    #namePIntro {
        position: absolute;
        font-size: 27px;
        /*  left: 221px;*/
        left: 10%;
        top: 100px;
        margin: auto;
    }



    #fromSL {
        position: absolute;
        font-size: 27px;
        /*left: 278px;*/
        left: 20%;
        top: 160px;
        margin: auto;
    }

    #motto1 {

        position: absolute;
        font-size: 24px;
        /* left: 155px;*/
        left: 20%;
        top: 250px;
        margin: auto;
    }

    #motto2 {

        position: absolute;
        font-size: 24px;
        left: 0;
        top: 280px;
        margin: auto;


    }
    #homeSection > #homeContactDiv > a > img {
        margin: 7px;
    }
}
@media only screen and (min-width: 834px) {

    header {

    }

    header > nav {

    }

    header > nav > ul> a {
        text-decoration: none;
        font-size: 20px;
        color: white;
        margin: 10px;
        font-family: Heebo;
    }

    header > img {
        width: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    header > i {
        display: none;
    }

    #homeSection {
      height: 873px;
    }

    #homeSection > #introDiv {
        position: absolute;
        width: 60%;
        height: 805px;
        left: 5%;
        margin: auto;
        top: 32px;


    }

    #homeSection > #coverImgDiv {
        position: absolute;
        width: 42%;
        height: 805px;
        left: 54%;
        margin: auto;

    }

    #homeSection > #homeContactDiv {
        position: absolute;
        width: 5%;
        height: 805px;
        right: 5%;
        top: 150px;
        margin: auto;

    }

    #homeSection > div > p {

        width: fit-content;
        height: fit-content;
        color: #0DB3AE;
    }

    #homeSection > #coverImgDiv > img {
        position: absolute;
        top: 66px;
        margin: auto;
        width: 420px;
        height: 804px;
        filter: grayscale(100%) contrast(130%) brightness(40%) saturate(50%);
    }

    #hellop {
        position: absolute;
        font-size: 70px;
        /*left: 315px;*/
        left: 35%;
        top: 80px;
        margin: auto;
    }

    #namePIntro {
        position: absolute;
        font-size: 35px;
        /*  left: 221px;*/
        left: 20%;
        top: 208px;
        margin: auto;
    }

    #motto1 {
        position: absolute;
        font-size: 35px;
        left: 5px;
        top: 250px;
        margin: auto;
    }

    #fromSL {
        position: absolute;
        font-size: 35px;
        /*left: 278px;*/
        left: 30%;
        top: 304px;
        margin: auto;
    }

    #motto1 {

        position: absolute;
        font-size: 33px;
        /* left: 155px;*/
        left: 20%;
        top: 438px;
        margin: auto;
    }

    #motto2 {

        position: absolute;
        font-size: 33px;
        left: 0;
        top: 500px;
        margin: auto;
    }

    #homeSection > #homeContactDiv > a > img {
        margin: 7px;
    }
}

    @media only screen and (min-width: 1300px) {

        header {

        }

        header > nav {

        }

        header > nav >ul> a {
            font-size: 24px;

        }

        header > img {
            width: 100px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        header > i {
            display: none;
        }

        #homeSection {

        }

        #homeSection > #introDiv {
            position: absolute;
            width: 60%;
            height: 805px;
            left: 5%;
            margin: auto;
            top: 32px;


        }

        #homeSection > #coverImgDiv {
            position: absolute;
            width: 42%;
            height: 805px;
            left: 54%;
            margin: auto;

        }

        #homeSection > #homeContactDiv {
            position: absolute;
            width: 5%;
            height: 805px;
            right: 5%;
            top: 150px;
            margin: auto;

        }

        #homeSection > div > p {

            width: fit-content;
            height: fit-content;
            color: #0DB3AE;
        }

        #homeSection > #coverImgDiv > img {
            position: absolute;
            top: 66px;
            margin: auto;
            width: 420px;
            height: 804px;
         /*  filter: grayscale(100%);*/

          /* filter: saturate(0%);
            filter: contrast(100%);
            filter: brightness(100%);*/
            filter: grayscale(100%) contrast(130%) brightness(40%) saturate(50%);
        }

        #hellop {
            position: absolute;
            font-size: 82px;
            /*left: 315px;*/
            left: 35%;
            top: 80px;
            margin: auto;
        }

        #namePIntro {
            position: absolute;
            font-size: 40px;
            /*  left: 221px;*/
            left: 25%;
            top: 208px;
            margin: auto;
        }

        #motto1 {
            position: absolute;
            font-size: 50px;
            left: 0;
            top: 250px;
            margin: auto;
        }

        #fromSL {
            position: absolute;
            font-size: 40px;
            /*left: 278px;*/
            left: 30%;
            top: 304px;
            margin: auto;
        }

        #motto1 {

            position: absolute;
            font-size: 50px;
            /* left: 155px;*/
            left: 23%;
            top: 438px;
            margin: auto;
        }

        #motto2 {

            position: absolute;
            font-size: 50px;
            left: 0;
            top: 500px;
            margin: auto;
        }

        #homeSection > #homeContactDiv > a > img {
            margin: 10px;
        }

    }

